<section class="navBar">
    <a href="/"><button><img src= "styles/icons/home.svg"></button></a>
    <a href="/about"><button><img src= "styles/icons/users.svg"></button></a>
    <form action="/search" method="get"> 
        <input type="text" name="search" placeholder="Search Recipe By Name" required>
        <a href="/search" type="submit"><img src= "styles/icons/search.svg"></a>
    </form>
  </section>