<section class="navBar">
    <a href="/"><img src= "/styles/icons/home.svg"></a>
    <a href="/about"><img src= "/styles/icons/users.svg"></a>
    <form action="/search" method="get"> 
        <input type="text" name="search" placeholder="Search Recipe By Name" required>
        <a href="/search" type="submit"><img src= "/styles/icons/search.svg"></a>
    </form>
  </section>