<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>
  <%- include('../partials/nav') %>
  <section id="noResults">
    <img src="/styles/icons/bug.svg"><img src="/styles/icons/confused2.svg"><img src="/styles/icons/bug.svg">
    <h2>Sorry, no results found for this search!</h2>
    <img src="/styles/icons/bug.svg"><img src="/styles/icons/confused2.svg"><img src="/styles/icons/bug.svg">
  </section>
 <%- include('../partials/footer') %>

</body>
</html>