.nav-bar {
  display: flex;
  flex-direction: row;
}

.search-view-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.recipe {
  width: 100%;
  height: auto;
  background-color: #f0e5eb;
  box-shadow: 0px 2px 7px #C7AEA5; 
  margin-top: 15px;
  align-self: center;
}

.recipe-data {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.recipe-data img {
  width: 25%;
  height: 25%;
  margin-right: 10px;
  margin-left: 7px;
  margin-top: 7px;
  margin-bottom: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.recipe-data article h2 {
  font-size: 1.25em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 7px;
  line-height: 110%;
}

p {
  font-size: .8em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 120%;
  margin-right: 7px;
}

.indexButtons{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 5px;
}

#indexDetailBtn{
  background-color: #499FA4;
  width: 94%;
  height: 82%;
  margin-bottom: 7px;
  margin-left: 7px;
  color: white;
}

.hidden {
  display:none;
}

.youTube {
  width: 89%;
  height: 70%; 
}

/* Inspired by w3 Schools - https://www.w3schools.com/howto/howto_js_sidenav.asp */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: blue;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav #closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}