@media(min-width: 950px){
  
  .recipe {
    width: 90%;
    height: 275px;
  }
  
  .recipe-data img {
    width: 15%;
    height: 15%;
  }
  
  .recipe-data article h2 {
    font-size: 2em;
  }
  
  p {
    font-size: 1.5em;
  }
  
  .hidden {
    display:none;
  }
  
  .navBar form input {
    height: 2.25em;
    width: 225px;
  }
  
  #saveBtn {
    width: 15%;
  }
  
  #recipeSection h2 {
    font-size: 2em;
  }
  
  #recipeSection h3 {
    font-size: 1.75em;
  }
  
  #recipeSection img {
    width: 80%;
  }
  
  #youtube {
    width: 80%;
    height: auto;
  }
  
  #openBtn {
    margin-left: 15px;
  }

  #detailBtns h2 {
    margin-top: 10px;
    margin-right: 15px;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  #ingredientsList {
    list-style-type: disc;
    margin: 10px 10px 10px 30px;
    align-self: center;
    column-count: 2;
    font-size: 1.2em;
  }
  
  #ingredientsList li {
    margin-top: 8px;
  }
  
  #recipeSection p {
    margin: 10px 38px 10px 38px;
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 140%;
  }
  
  header {
    background-color: #ec926f;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 65px;
  }
  
  header img {
    margin-left: 25px;
  }
  
  header h1 {
    margin-left: 35px;
  }
  
  #upButton {
    height: auto;
    margin-top: 25px;
    margin-left: 85%;
    margin-bottom: 55px;
  }
  
  #upSection {
    height: auto;
  }
  
  .biography figure {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  
  .biography figure img {
    align-self: center;
    margin-bottom: 15px;
    margin-top: 15px;
    width: auto;
    height: 400px;
  }
  
  .biography figure p {
    margin-right: 55px;
    margin-left: 55px;
    font-size: 22px;
  }
  
  figcaption {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
  }
  
  .octocat, .linkedin{
    width: 45px;
    height: 45px;
  }
  
  footer {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    background-color: #ec926f;
    text-align: center;
    padding-top: 5px;
  }
  
  footer p {
    display: inline;
  }
  
  #noResults{
    text-align: center;
    font-size: 5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkred;
    margin-top: 100px;
  }
}