

.recipe {
  width: 100%;
  height: auto;
}

.recipe-data img {
  width: 25%;
  height: 25%;
}

.recipe-data article h2 {
  font-size: 1.25em;
}

p {
  font-size: .8em;
}

.hidden {
  display:none;
}

.navBar form input {
  height: 1.5em;
}


#saveBtn {
  width: 25%;
}

#recipeSection h2 {
  font-size: 1.5em;
}

#recipeSection h3 {
  font-size: 1.25em;
}

#recipeSection img {
  width: 90%;
}

#youtube {
  width: 80%;
  height: auto;
}

#openBtn {
  margin-left: 15px;
}

#detailBtns h2 {
  margin-top: 10px;
  font-size: 1.25em;
}

#ingredientsList {
  font-size: .9em;
}

#recipeSection p {
  margin: 10px 8px 10px 8px;
  font-size: .9em;
}

footer {
  height: 20px;
}

.biography figure img {
  height: 300px;
}

.biography figure p {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 18px;
}

#noResults{
  font-size: 3em;
}