

.recipe {
  width: 100%;
  height: auto;
}

.recipe-data img {
  width: 25%;
  height: 25%;
}

.recipe-data article h2 {
  font-size: 1.25em;
}

p {
  font-size: .8em;
}

.hidden {
  display:none;
}

.navBar form input {
  height: 1.5em;
}


#saveBtn {
  width: 25%;
}

#recipeSection h2 {
  font-size: 1.5em;
}

#recipeSection h3 {
  font-size: 1.25em;
}

#recipeSection img {
  width: 90%;
}

#youtube {
  width: 80%;
  height: auto;
}

#openBtn {
  margin-left: 15px;
}

#detailBtns h2 {
  margin-top: 10px;
  margin-right: 15px;
  font-size: 1.25em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#ingredientsList {
  list-style-type: disc;
  margin: 10px 10px 10px 30px;
  align-self: center;
  column-count: 2;
  font-size: .9em;
}

#ingredientsList li {
  margin-top: 8px;
}

#recipeSection p {
  margin: 10px 8px 10px 8px;
  font-size: .9em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 140%;
}

header {
  background-color: #ec926f;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 65px;
}

header img {
  margin-left: 25px;
}

header h1 {
  margin-left: 35px;
}

#upButton {
  height: auto;
  margin-top: 25px;
  margin-left: 85%;
  margin-bottom: 55px;
}

#upSection {
  height: auto;
}

.biography figure {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.biography figure img {
  align-self: center;
  margin-bottom: 15px;
  margin-top: 15px;
  width: auto;
  height: 300px;
}

.biography figure p {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 18px;
}

figcaption {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.octocat, .linkedin{
  width: 45px;
  height: 45px;
}

footer {
  width: 100%;
  height: 20px;
  position: fixed;
  bottom: 0;
  background-color: #ec926f;
  text-align: center;
  padding-top: 5px;
}

footer p {
  display: inline;
}

#noResults{
  text-align: center;
  font-size: 3em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: darkred;
  margin-top: 100px;
}